*{
    transition: 0.3s;
}

@media (max-width:768px) {
    form {
        display: block;
        justify-content: center;
    }

    textarea#msg {
        width: 100%;
    }
}


body{
    background-color: #000000;
    padding: 0;
    margin: 0;
}
nav{
    position: relative;
    background: transparent;
    
}
.logo{
    width: 30%;
}
.full {
    background-image: url(../img/beta.gif);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
}

h1,h2,h5,span {
    color: #FFFFFF;
}

h1,h2{
    font-family: "Poiret One", serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-size: 3.2rem;
}

p,span{
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;

    color: #FFFFFF;
}


textarea#msg {
    border-radius: 100px;
    width: 100%;
    padding: 10px;
}
button {
    padding: 10px 50px;
    border-radius: 100px;
    background-image: linear-gradient(to right top, #CE0BFF, #FF00A2, #FFEE00);
    color: wheat;
}
/* form {
    align-items: center;
    display: flex
;
    justify-content: center;
} */


.skills{
 color: #3f3f3f;
}

